
<%- contentFor('styleTag') %>
<link rel="stylesheet" href="/stylesheets/user/components/aboutus.css" />

<%- contentFor('navbar') %> <%- include('./components/nav-back.ejs') %> <%- contentFor('body') %>


<div class="article-page">
  <div class="article">
    <div class="aboutus_title">
      <p class="article__title ft-title">
        <div class="topbar__logo__img">			
        </div>
        <p><strong>&nbsp;소개서</strong></p>
      </p>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="center-text_bold1 ft-main">
      <div class="fist__logo__img">			
      </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="center-text_bold1 ft-main">
      <p><strong>이제 뉴스는 세이버입니다.</strong></p>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="center-text_bold2 ft-main">
      <p><strong>(주)더세이버</strong></p>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="aboutus_title">
      <p class="article__title ft-title">
        <div class="topbar__logo__img">			
        </div>
        <p><strong>&nbsp;의 시작</strong></p>
      </p>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="article__brief-text ft-main">
      <p>우리는 생각했습니다.</p>
      <br/>
      <p>신문들이 모두 똑 같은 기사를 장황하게 늘여 쓰고 있다고,</p>
      <p>네이버를 통해서 보는 뉴스는 한쪽 방향으로만 세상을 바라보고 있다고 </p>
      <p>유튜브 속 뉴스는 무엇이 진짜인지 모를 클릭 유도만 하고 있다고</p>
      <br/>
      <p>우리는 결심했습니다. </p>
      <br/>
      <p>핵심을 제대로 전달하자고 </p>
      <p>균형 잡힌 시선으로 바라보자고</p>
      <p>거짓이 아닌 팩트(사실)를 전달하자고 </p>
      <br/>
      <p>그래서 우리는 </p>
      <p>이제 뉴스는 네이버가 아니라</p>
      <p>세이버라고 감히 선언합니다. </p>
      <br/>
      <p>다윗과 골리앗의 싸움이라고 세상이 말해도,</p>
      <p>감히</p>
      <p>이제 뉴스를 보려면 네이버가 아니라 세이버를 봐야 합니다.  </p>
      <br/>
      <p>계란으로 바위치기라고 세상이 비웃어도</p>
      <p>감히</p>
      <p>이제 대한민국 진짜 뉴스는 네이버가 아니라 세이버에 있습니다.</p>
      <br/>
      <p>멸치가 고래를 무는 거다라고 세상이 비아냥거려도</p>
      <p>감히</p>
      <p>기울어지지 않은 뉴스는 네이버가 아니라 세이버가 제공합니다. </p>
      <br/>
      <p>멸치가 고래를 무는 거다라고 세상이 비아냥거려도</p>
      <p>감히</p>
      <p>기울어지지 않은 뉴스는 네이버가 아니라 세이버가 제공합니다. </p>
      <br/>

      <p>1. 세이버는  긴 뉴스를 모두 읽을 필요가 없다고 말합니다. </p>
      <p><strong>기사진과 100자 브리핑이면 충분하기 때문입니다. </strong></p>
      <br/>
      <p>2. 세이버는  뉴스가 아니라고 말합니다.</p>
      <p><strong>뉴스 브리핑이라는 새로운 개념이기 때문입니다.</strong></p>
      <br/>
      <p>3. 세이버는  기자가 없다고 말합니다. </p>
      <p><strong>각 분야의 전문 브리퍼가 뉴스를 정리하기 때문입니다.</strong></p>
      <br/>
      <p>4. 세이버는  짧지만 더 정확하고 명료하다고 말합니다.</p>
      <p><strong>더 자세히 버튼으로 뉴스에 대한 심층정보를 브리핑으로 제공하기 때문입니다.</strong></p>
      <br/>
      <p>5. 세이버는  뉴스 홍수 속에서 당신을 구하겠다고 말합니다.</p>
      <p><strong>당신이 오늘 알아야 할 뉴스를 알려주기 때문입니다.</strong></p>
      <br/>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div class="center-text_bold1 ft-main">
    <div class="aboutus__tail__img">			
    </div>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <br/><br/>
</div>
 



<%- contentFor('footer') %> <%- include('./components/foo.ejs') %>

<%- contentFor('scriptTag') %>
