<%- contentFor('styleTag') %>
<link rel="stylesheet" href="/stylesheets/user/pages/bookmark_alarm.css" />

<%- contentFor('navbar') %> <%- include('./components/nav.ejs') %> <%- contentFor('body') %>
<div class="bookmark_alarm-page">
    </div>
    <%- contentFor('footer') %> <%- include('./components/foo.ejs') %>
  </div>
</div>
<script defer type="module" src="/javascripts/alarmInfiniteScroll.js"></script>
<script src="/javascripts/dragEvent.js"></script>
