<%- contentFor('styleTag') %>
<link rel="stylesheet" href="/stylesheets/user/pages/bookmark_alarm.css" />

<%- contentFor('navbar') %> <%- include('./components/nav-back.ejs') %> <%- contentFor('body') %>
<div class="bookmark_alarm-page">
  <p>
  <br>
  고객 문의 사항<br>
  email : saverdevelop@gmail.com
  </p>

  </div>
    <%- contentFor('footer') %> <%- include('./components/foo.ejs') %>
  </div>
</div>

<%- contentFor('scriptTag') %>
