<%- contentFor('styleTag') %>
<link rel="stylesheet" href="/stylesheets/user/pages/bookmark_alarm.css" />

<%- contentFor('navbar') %> <%- include('./components/nav-back.ejs') %> <%- contentFor('body') %>
<div class="bookmark_alarm-page">

  </div>
    <%- contentFor('footer') %> <%- include('./components/foo.ejs') %>
  </div>
</div>

<%- contentFor('scriptTag') %>
<script src="/javascripts/buildSetting.js"></script>
<script defer src="/javascripts/setting.js"></script>