<%- contentFor('styleTag') %>
<link rel="stylesheet" href="/stylesheets/user/pages/bookmark_alarm.css" />

<%- contentFor('navbar') %> <%- include('./components/nav-back.ejs') %> <%- contentFor('body') %>

<div class="article-page">
  <div class="article">
    <div class="article__top">
      <p class="article__title ft-title">
      [서비스 이용약관]
      </p>
    </div>

    <div id="editor_briefing" class="article__brief-text ft-main">
      <p><strong>제 1장 총칙</strong></p>
      <p>&nbsp;</p>
      <p>제 1조 (목적)</p>
      <p>이 약관은 전기통신사업법령 및 정보통신망이용촉진 및 정보보호 등에 관한 법률에 따라 세이버(이하 &lsquo;세이버&rsquo;에서 제공하는 모든 서비스(이하 `서비스`)의 이용절차, 조건 등 서비스 이용과 관련한 세이버와 회원의 권리 및 의무에 관련된 사항을 규정함을 목적으로 합니다.</p>
      <p>&nbsp;</p>
      <p>제2조 (약관의 효력과 변경)</p>
      <p>본 약관은 회원이 신규 가입 시 "약관에 동의합니다"라는 물음에 회원이 "동의" 버튼을 클릭 하는 것으로 효력이 발생됩니다.</p>
      <p>세이버는 필요한 경우 약관을 변경할 수 있으며, 변경된 약관은 적용일 전 7일간 온라인 상의 공지나 전자 우편 등의 방법을 통해 회원에게 공지되고 적용일에 효력이 발생됩니다.</p>
      <p>회원은 변경된 약관에 동의하지 않을 경우, 서비스 이용을 중단하고 탈퇴할 수 있습니다.</p>
      <p>약관이 변경된 이후에도 계속적으로 서비스를 이용하는 경우에는 회원이 약관의 변경 사항에 동의한 것으로 봅니다.</p>
      <p>&nbsp;</p>
      <p>제3조 (약관 외 준칙)</p>
      <p>이 약관에 명시되지 않은 사항이 전기통신기본법, 전기통신사업법, 기타 관계법령에 규정 되어 있을 경우에는 그 규정에 따릅니다.</p>
      <p>세이버는 약관 이외에 개별 서비스에 대한 세부적인 사항을 정할 수 있으며, 그 내용은 해당 서비스의 이용안내 및 별도의 이용 동의 절차를 통해 공지합니다.</p>
      <p>&nbsp;</p>
      <p>제 4 조 (용어의정의)</p>
      <ol>
        <li>&lsquo;서비스&rsquo;라 함은 구현되는 단말기 (PC, 휴대형단말기 등의 각종 유무선장치를 포함)와 상관없이 &lsquo;세이버&rsquo;에 종속되어 &lsquo;회원&rsquo;을 대상으로 제공하는 모든 기능을 의미합니다.</li>
        <li>회원 : &lsquo;서비스&rsquo; 통합회원으로 본 약관에 동의하여 이용계약을 체결하고 서비스를 이용하는 모든 회원을 의미합니다.</li>
        <li>비회원 : &lsquo;회원&rsquo;에 가입하지 않고 &lsquo;세이버&rsquo;가 제공하는 &lsquo;서비스&rsquo;를 이용하는 자를 의미합니다.</li>
        <li>어플리케이션 : 스마트폰 및 태블릿에서 &lsquo;서비스&rsquo;를 설치하여 이용할 수 있도록 구성된 프로그램을 의미합니다.</li>
        <li>개인정보 : 정보통신망 이용촉진 및 정보보호 등에 관한 법률에서 언급하는 개인정보(휴대폰번호, 이메일주소)를 말합니다. 본 약관에서 사용하는 용어 중 본 조에서 정하지 아니한 사항은 관계법령에서 정하는 바에 따르며, 그 외에는 일반 관례에 따릅니다.</li>
      </ol>
      <p>&nbsp;</p>
      <p>제 5 조 (서비스 사업자의 개요)</p>
      <ol>
        <li>이 약관에서 규정하는 서비스는 세이버가 제공하는 &lsquo;서비스&rsquo;에 한하며 &lsquo;상호 및 주소, 연락처는 다음의 각호와 같다.</li>
      </ol>
      <p style="padding-left: 60px;">1) 서비스명 : 세이버</p>
      <p style="padding-left: 60px;">2) 주소 : 서울시 마포구 월드컵북로 92</p>
      <p style="padding-left: 60px;">3) 연락처 : saverdevelop@gmail.com&nbsp;</p>
      <ol start="2">
        <li>'회원'은 개정된 약관에 대해 동의하지 않을 권리가 있으며, 개정된 약관에 동의하지 않을 경우 이용계약을 해지할 수 있습니다. &lsquo;세이버&rsquo;가 전항 단서에 따라 회원에게 통지하면서 상당한 기간(예:30일)을 정하여 거부의사를 표시하지 아니하면 승인한 것으로 본다는 뜻을 명확하게 고지하였음에도 '회원'의 의사표시가 없는 경우에는 변경된 약관을 승인한 것으로 봅니다.</li>
      </ol>
      <p>&nbsp;</p>
      <p><strong>제 2 장 서비스 이용 계약 체결</strong></p>
      <p>&nbsp;</p>
      <p>제 6 조 (이용계약의 체결)</p>
      <ol>
        <li>이용계약은 회원이 되고자 하는 자(이하 &lsquo;가입신청자&rsquo;)가 약관의 내용에 대하여 동의를 한 다음 &lsquo;서비스&rsquo;이용 신청을 하고, 회사가 이러한 신청에 대하여 승낙함으로써 체결됩니다.</li>
        <li>회사는 &lsquo;가입신청자&rsquo;의 신청에 대하여 &lsquo;서비스&rsquo;이용을 승낙함을 원칙으로 합니다. 다만, 회사는 다음 각 호에 해당하는 신청에 대하여는 승낙을 하지 않거나 사후에 이용계약을 해지할 수 있습니다.</li>
      </ol>
      <p style="padding-left: 60px;">①가입신청자가 이 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우 (단 &lsquo;세이버&rsquo;의 회원 재가입 승낙을 얻은 경우에는 예외로 함)</p>
      <p style="padding-left: 60px;">②실명이 아니거나 타인의 명의를 이용한 경우.</p>
      <p style="padding-left: 60px;">③허위의 정보를 기재하거나, 회사가 제시하는 내용을 기재하지 않은 경우.</p>
      <p style="padding-left: 60px;">④부정한 용도로 서비스를 사용하고자 하는 경우.</p>
      <p style="padding-left: 60px;">⑤14세 미만 아동이 법정대리인(부모 등)의 동의 없이 신청하는 경우.</p>
      <p style="padding-left: 60px;">⑥ &lsquo;세이버&rsquo;로부터 이용정지 및 제한을 당한 회원이 그 이용정지 기간 중에 이용계약을 임의 해지하고 재 신청을 하는 경우.</p>
      <p style="padding-left: 60px;">⑦ &lsquo;가입신청자&rsquo;의 귀책사유로 인하여 승인이 불가능하거나 기타 회사가 정한 제반 사항을 위반하여 신청하는 경우.</p>
      <p style="padding-left: 60px;">⑧ &lsquo;세이버&rsquo;의 정책에 적합하지 않는 &lsquo;회원&rsquo;으로 판단되는 경우나 &lsquo;서비스&rsquo; 제공이 곤란한 경우,</p>
      <p style="padding-left: 60px;">⑨ &lsquo;회원&rsquo;의 이용 목적이나 &lsquo;서비스&rsquo; 이용 방법이 &lsquo;세이버&rsquo;의 재산권이나 영업권을 침해하거나 침해할 우려가 있는 경우.</p>
      <p style="padding-left: 60px;">⑩ 사회의 안녕, 질서 또는 미풍양속을 저해할 목적으로 신청한 경우</p>
      <p style="padding-left: 60px;">⑪ 회사의 내부서비스 기준에 적합하지 않은 회원으로 판단되는 경우나 서비스 제공이 곤란한 경우</p>
      <p style="padding-left: 60px;">⑫ 기타 &lsquo;세이버&rsquo;가 합리적인 판단에 의하여 필요하다고 인정하는 경우.</p>
      <ol start="3">
        <li>제 1 항에 따른 신청에 있어 &lsquo;세이버&rsquo;는 전문기관을 통한 실명확인 및 본인인증을 요청할 수 있습니다.</li>
        <li>제 1 항에 따른 신청에 있어 &lsquo;세이버&rsquo;는 제공하는 &lsquo;서비스&rsquo;의 종류에 따라 필요한 경우 &lsquo;가입신청자&rsquo;에게 추가 정보를 요청할 수 있습니다.</li>
        <li>회사는 &lsquo;서비스&rsquo; 관련 설비의 여유가 없거나, 기술상 또는 업무상 문제가 있는 경우에는 승낙을 유보할 수 있습니다.</li>
        <li>본 조 제 2 항과 제 4 항에 따라 회원가입신청의 승낙을 하지 아니하거나 유보한 경우, 회사는 원칙적으로 이를 가입신청자에게 알리도록 합니다.</li>
        <li>이용계약의 성립 시기는 회사가 가입완료를 신청절차 상에서 표시하거나 &lsquo;세이버&rsquo;가 정하는 방법으로 &lsquo;세이버&rsquo;가 &lsquo;가입신청자&rsquo;에게 가입완료 안내를 발송하여 도달한 시점으로 합니다.</li>
      </ol>
      <p>&nbsp;</p>
      <p>제 7 조 (이용계약의 해지 및 이용제한)</p>
      <ol>
        <li>&lsquo;회원&rsquo;은 언제든지 &lsquo;세이버&rsquo;가 정한 절차에 따라 회원 탈퇴를 요청하여 이용계약 해지 신청을 할 수 있으며, &lsquo;세이버&rsquo;는 관련법 등이 정하는 바에 따라 이를 즉시 처리합니다.</li>
        <li>&lsquo;회원&rsquo;이 계약을 해지할 경우, 회원정보는 관련법 및 개인정보취급방침에 따라 처리됩니다.</li>
        <li>회사는 아래 각 호의 사유가 발생하는 경우 회원의 &lsquo;서비스&rsquo; 이용을 중단하거나 경고, 일시 정지, 영구 이용정지 등으로 &lsquo;서비스&rsquo;이용을 단계적으로 제한할 수 있습니다.</li>
      </ol>
      <p style="padding-left: 60px;">① 부정하게 타인의 계정을 사용하여 &lsquo;서비스&rsquo;를 이용한 경우</p>
      <p style="padding-left: 60px;">② &lsquo;회원&rsquo;이 &lsquo;세이버&rsquo; 서비스의 운영을 고의 및 과실로 방해하는 경우</p>
      <p style="padding-left: 60px;">③ 제6조 제2항에 따른 승낙거부 사유가 있음이 확인된 경우.</p>
      <p style="padding-left: 60px;">④ 타인의 &rsquo;서비스&rsquo; 이용을 방해하거나 정보를 도용하는 등 전자상거래질서를 위협하는 경우.</p>
      <p style="padding-left: 60px;">⑤ &lsquo;세이버&rsquo;를 이용하여 법령과 이 약관이 금지하거나 공공질서, 미풍양속에 반하는 행위를 하는 경우.</p>
      <p style="padding-left: 60px;">⑥ 기타 &lsquo;세이버&rsquo;가 &lsquo;회원&rsquo;의 이용정지를 진행할 합리적인 사유가 있는 경우.</p>
      <ol start="4">
        <li>&lsquo;세이버&rsquo;는 위의 따른 귀책사유로 &lsquo;회원&rsquo;의 &lsquo;서비스&rsquo; 이용을 중단 및 제한하는 경우 이메일, 전화 또는 기타의 방법을 통하여 해지의사를 통지하며, &lsquo;세이버&rsquo;는 이용제한내용에 해당하는 '회원'이 다시 이용신청을 하는 경우 30일 동안 승낙을 제한하거나 이용신청을 거절할 수 있습니다.</li>
        <li>이용계약의 종료와 관련하여 발생한 손해는 이용계약이 종료된 해당 회원이 책임을 부담하며, &lsquo;세이버&rsquo;는 일체의 책임을 부담하지 않습니다.</li>
        <li>&lsquo;세이버&rsquo;는 &lsquo;회원&rsquo;이 계속해서 6개월 이상 로그인하지 않는 경우, 회원정보의 보호 및 운영의 효율성을 위해 이용을 정지할 수 있습니다.</li>
        <li>&lsquo;회원&rsquo;은 본 조에 따른 이용제한 등에 대해 &lsquo;세이버&rsquo;가 정한 절차에 따라 이의신청을 할 수 있으며, 이의가 정당하다고 &lsquo;세이버&rsquo;가 인정하는 경우 &lsquo;세이버&rsquo;는 즉시 &lsquo;서비스&rsquo;의 이용을 재개합니다.</li>
      </ol>
      <p>&nbsp;</p>
      <p><strong>제3장 서비스 이용</strong></p>
      <p>&nbsp;</p>
      <p>제8조 (서비스의 제공)</p>
      <ol>
        <li>세이버는 이 약관에서 정한 바에 따라 지속적이고 안정적인 서비스의 제공을 위해 노력합니다.</li>
        <li>세이버는 서비스에 장애가 발생할 경우 그 복구에 최선을 다합니다. 다만 시스템점검, 천재지변, 비상사태, 기타 부득이한 경우에는 서비스를 일시적으로 중단할 수 있습니다.</li>
        <li>세이버는 이용계약의 체결, 계약사항의 변경, 계약해지 등 회원과의 계약사항의 처리에 있어 회원에게 편의를 제공하도록 노력합니다.</li>
      </ol>
      <p>&nbsp;</p>
      <p>제9조 (정보의 제공)</p>
      <ol>
        <li>세이버는 회원에게 유용하다고 판단되는 정보나 광고를 전자우편의 방법으로 전달할 수 있으며, 회원은 이를 원하지 않을 경우 개인정보 관리 메뉴에서 수신을 거부할 수 있습니다.</li>
        <li>전자우편의 수신을 거부한 경우에도 회원약관, 개인정보 취급방침, 기타 중대한영업정책의 변경이나 서비스 변경 등 회원이 반드시 알고 있어야 하는 공지사항이 있는 경우 수신 거부와 관계없이 공지메일을 발송할 수 있습니다.</li>
      </ol>
      <p>&nbsp;</p>
      <p>제10조 (서비스의 제공)</p>
      <ol>
        <li>세이버는 이 약관에서 정한 바에 따라 지속적이고 안정적인 서비스의 제공을 위해 노력합니다.</li>
        <li>세이버는 서비스에 장애가 발생할 경우 그 복구에 최선을 다합니다. 다만 시스템점검, 천재지변, 비상사태, 기타 부득이한 경우에는 서비스를 일시적으로 중단할 수 있습니다.</li>
        <li>세이버는 이용계약의 체결, 계약사항의 변경, 계약해지 등 회원과의 계약사항의 처리에 있어 회원에게 편의를 제공하도록 노력합니다.</li>
      </ol>
      <p>&nbsp;</p>
      <p>제11조 (서비스 이용 시간)</p>
      <ol>
        <li>세이버의 업무 혹은 기술적 이유에 의한 별도의 공지가 없는 한, 서비스는 연중무휴 1일 24시간 동안 계속 제공됩니다.</li>
        <li>세이버가 업무 혹은 기술적 이유로 서비스를 중단하고자 할 경우에는 사전에 서비스 중단 사유 및 시간을 공지해야 합니다. 단, 천재지변, 긴급사태, 시스템 장애 등 예기치 않은 상황의 경우는 사후에 공지할 수 있습니다.</li>
      </ol>
      <p>&nbsp;</p>
      <p><strong>제 4 장 권리와 의무</strong></p>
      <p>&nbsp;</p>
      <p>제 12 조 (회사의 의무)</p>
      <ol>
        <li>&lsquo;세이버&rsquo;는 관련 법령과 이 약관이 금지하거나 공공질서, 미풍양속에 반하는 행위를 하지 않으며, 이 약관이 정하는 바에 따라 지속적이고 안정적으로 &lsquo;서비스&rsquo;를 제공하기 위하여 최선을 다합니다.</li>
        <li>&lsquo;세이버&rsquo;는 &lsquo;회원&rsquo;이 안전하게 &lsquo;서비스&rsquo;를 이용할 수 있도록 &lsquo;회원&rsquo;의 개인정보(신용정보 포함) 보호를 위한 보안 시스템을 갖추어야 하며 개인정보취급방침을 공시하고 준수합니다.</li>
        <li>&lsquo;세이버&rsquo;는 &lsquo;서비스&rsquo; 이용과 관련하여 발생하는 &lsquo;회원&rsquo;의 불만 및 피해구제요청을 적절하게 처리할 수 있도록 필요한 인력 및 시스템을 구비하며 &lsquo;세이버&rsquo;는 &lsquo;서비스&rsquo; 이용과 관련하여 &lsquo;회원&rsquo;으로부터 제기된 의견이나 불만이 정당하다고 인정할 경우에는 이를 처리하여야 합니다. &lsquo;회원&rsquo;이 제기한 의견이나 불만사항에 대해서는 전자우편 등을 통하여 &lsquo;회원&rsquo;에게 처리과정 및 결과를 전달합니다.</li>
      </ol>
      <p>&nbsp;</p>
      <p>제 13 조 (회원의 의무)</p>
      <ol>
        <li>&lsquo;회원&rsquo;은 &lsquo;서비스&rsquo; 이용과 관련하여 다음 각 호의 행위를 해서는 안됩니다.</li>
      </ol>
      <p style="padding-left: 60px;">① &rsquo;서비스&rsquo;의 정상적인 운영 및 &lsquo;세이버&rsquo;의 영업을 방해하는 행위</p>
      <p style="padding-left: 60px;">② 본 약관을 위반하여 매장 및 제3자에게 손해를 끼치는 행위</p>
      <p style="padding-left: 60px;">③ 개인정보의 등록 또는 변경 시 허위 내용을 등록하거나 타인의 정보를 도용하는 행위</p>
      <p style="padding-left: 60px;">④ &lsquo;세이버&rsquo;가 게시한 정보를 변경하는 행위</p>
      <p style="padding-left: 60px;">⑤ &lsquo;세이버&rsquo;가 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시</p>
      <p style="padding-left: 60px;">⑥ &lsquo;서비스&rsquo; 및 제 3자의 저작권 등 지적 재산권을 침해하는 행위</p>
      <p style="padding-left: 60px;">⑦ &lsquo;서비스&rsquo; 및 제 3자의 명예를 손상하거나 업무를 방해하는 행위</p>
      <p style="padding-left: 60px;">⑧ 사실관계를 왜곡하는 정보를 제공하는 행위</p>
      <p style="padding-left: 60px;">⑨ 외설 또는 폭력적인 메시지 ,화상, 음성, 기타 공서양속에 반하는 정보를 &lsquo;서비스&rsquo;에 공개 또는 게시하는 행위</p>
      <p style="padding-left: 60px;">⑩ 회사의 동의 없이 영리를 목적으로 &lsquo;서비스&rsquo;를 사용하는 행위</p>
      <p style="padding-left: 60px;">⑪ 기타 본 약관 및 관련 법령을 위반하는 행위</p>
      <ol start="2">
        <li>&lsquo;회원&rsquo;은 관계법, 본 약관의 규정, 이용안내 및 &lsquo;서비스&rsquo;와 관련하여 공지한 주의사항, 회사가 통지하는 사항 등을 준수하여야 하며, 기타 회사의 업무에 방해되는 행위를 하여서는 안 됩니다.</li>
      </ol>
      <p>&nbsp;</p>
      <p>제 14 조 ("회원"의 "아이디" 및 "비밀번호"의 관리에 대한 의무)&nbsp;</p>
      <p>① "회원"의 "아이디"와 "비밀번호"에 관한 관리책임은 "회원"에게 있으며, 이를 제3자가 이용하도록 하여서는 안 됩니다.</p>
      <p>② "회사"는 "회원"의 "아이디"가 개인정보 유출 우려가 있거나, 반사회적 또는 미풍양속에 어긋나거나 "회사" 및 "회사"의 운영자로 오인한 우려가 있는 경우, 해당 "아이디"의 이용을 제한할 수 있습니다.</p>
      <p>③ "회원"은 "아이디" 및 "비밀번호"가 도용되거나 제3자가 사용하고 있음을 인지한 경우에는 이를 즉시 "회사"에 통지하고 "회사"의 안내에 따라야 합니다.</p>
      <p>④ 제3항의 경우에 해당 "회원"이 "회사"에 그 사실을 통지하지 않거나, 통지한 경우에도 "회사"의 안내에 따르지 않아 발생한 불이익에 대하여 "회사"는 책임지지 않습니다.</p>
      <p>&nbsp;</p>
      <p>제15조 (손해배상)</p>
      <p>세이버는 무료 서비스 이용과 관련하여 세이버의 고의 또는 중과실이 없는 한 회원에게 발생한 어떠한 손해에 대해서도 배상 및 보상의 책임을 지지 않습니다. 유료서비스의 경우는 별도로 정하는 바에 따릅니다.</p>
      <p>&nbsp;</p>
      <p>제16조 (면책)</p>
      <ol>
        <li>세이버가 천재지변, 비상사태 또는 이에 준하는 불가피한 사정으로 서비스를 중단할 경우,서비스 중단으로 회원에게 발생되는 문제에 대한 책임이 면책됩니다.</li>
        <li>세이버는 회원의 귀책사유로 인한 서비스 이용의 장애에 대해 책임을 지지 않습니다.</li>
        <li>세이버는 서비스를 통해 제공된 정보, 제품, 서비스, 소프트웨어, 그래픽, 음성, 동영상의 적합성, 정확성, 시의성, 신빙성에 관한 보증 또는 담보책임을 지지 않습니다.</li>
        <li>회원이 세이버가 제공한 서비스를 통해 취득한 정보를 통해 법률적 또는 의학적, 기타 재정적 사항에 관하여 필요한 결정을 하고자 할 때에는 반드시 사전에 전문가와 상의하기를 권고합니다.</li>
      </ol>
      <p>&nbsp;</p>
      <p><strong>제5장 기타</strong></p>
      <p>&nbsp;</p>
      <p>제17조 (고충처리)</p>
      <p>세이버는 개인정보 관리, 서비스 이용 등에 대한 회원들의 불편 및 불만 사항, 기타 의견을 홈페이지, 전자우편, 전화, 서면 등을 통해 접수하고 처리합니다.</p>
      <p>&nbsp;</p>
      <p>제18조 (분쟁해결 및 관할법원)</p>
      <p>세이버 및 회원은 개인정보에 관한 분쟁이 있는 경우 신속하고 효과적인 분쟁해결을 위하여 개인정보분쟁조정위원회에 분쟁의 조정을 신청할 수 있습니다.</p>
      <p>요금 등 서비스 이용으로 발생한 분쟁에 대해 소송이 제기될 경우 세이버의 소재지를 관할하는 법원 또는 대한민국의 민사소송법에 따른 법원을 관할법원으로 합니다.</p>
      <p>&nbsp;</p>
      <p>본 약관의 해석과 적용 및 본 약관과 관련한 분쟁의 해결에는 대한민국 법률이 적용됩니다.</p>
      <p>&nbsp;</p>
      <p>부칙</p>
      <p>본 약관은 2021년 8월 24일부터 적용됩니다.</p>

    </div>

  </div>

  <br/><br/>
</div>


<%- contentFor('footer') %> <%- include('./components/foo.ejs') %>

<%- contentFor('scriptTag') %>
