<%- contentFor('styleTag') %>
<link rel="stylesheet" href="/stylesheets/user/pages/bookmark_alarm.css" />

<%- contentFor('navbar') %> <%- include('./components/nav-back.ejs') %> <%- contentFor('body') %>

<div class="article-page">
  <div class="article">
    <div class="article__top">
      <p class="article__title ft-title">
      [이메일무단수집거부]
      </p>
    </div>  
    <p>&nbsp;</p>

    <div id="editor_briefing" class="article__brief-text ft-main">
      <p><strong>이메일무단수집거부란?</strong></p>
      <p>본 웹사이트 및 앱에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적인 장치를 이용하여 무단으로 수집되는 것을 거부하며, 이를 위반 시 정보통신망법에 의해 형사처벌됨을 유념하시기 바랍니다.</p>
      <p>&nbsp;</p>
    </div>

  </div>

  <br/><br/>
</div>


<%- contentFor('footer') %> <%- include('./components/foo.ejs') %>

<%- contentFor('scriptTag') %>
