<%- contentFor('scriptTag') %>
  <script>
    const politic = document.querySelector("#politic");
    const economy = document.querySelector("#economy");
    const international = document.querySelector("#international");
    const social = document.querySelector("#social");
    const culture = document.querySelector("#culture");
    const ampm = document.querySelector("#ampm");

    let currentUserID

    // page load 시 로그인 정보 확인 / page 렌더
    window.onload = function () {
      if (!token) {
        location.href = '/section/'
      } else {
        axios({
          method: 'post',
          url: '/section/user',
          headers: {
            'x-access-token': token
          }
        }).then((res) => {
          currentUserID = res.data;
          axios({
            method: 'post',
            url: '/section/init',
            data: {
              userId: currentUserID,
            }
          }).then((res) => {

          })
        }).catch(error => {
          alert(error.response.data.message);
        });
      }
    }

    // politic follow button (value = 1)
    politic.addEventListener('click', (e) => {
      if (!token) {
        location.href = '/section/follow'
      } else {
        axios({
          method: 'post',
          url: 'follow',
          data: {
            userId: currentUserID,
            followValue: 1,
          }
        }).then((res) => {
          location.reload();
        }).catch(error => {
          alert(error.response.data.message);
        });
      }
    });

    // economy follow button (value = 2)
    economy.addEventListener('click', (e) => {
      if (!token) {
        location.href = '/section/follow'
      } else {
        axios({
          method: 'post',
          url: 'follow',
          data: {
            userId: currentUserID,
            followValue: 2,
          }
        }).then((res) => {
          location.reload();
        }).catch(error => {
          alert(error.response.data.message);
        });
      }
    });

    // international follow button (value = 3)
    international.addEventListener('click', (e) => {
      if (!token) {
        location.href = '/section/follow'
      } else {
        axios({
          method: 'post',
          url: 'follow',
          data: {
            userId: currentUserID,
            followValue: 3,
          }
        }).then((res) => {
          location.reload();
        }).catch(error => {
          alert(error.response.data.message);
        });
      }
    });

    // social follow button (value = 4)
    social.addEventListener('click', (e) => {
      if (!token) {
        location.href = '/section/follow'
      } else {
        axios({
          method: 'post',
          url: 'follow',
          data: {
            userId: currentUserID,
            followValue: 4,
          }
        }).then((res) => {
          location.reload();
        }).catch(error => {
          alert(error.response.data.message);
        });
      }
    });

    // culture follow button (value = 5)
    culture.addEventListener('click', (e) => {
      if (!token) {
        location.href = '/section/follow'
      } else {
        axios({
          method: 'post',
          url: 'follow',
          data: {
            userId: currentUserID,
            followValue: 5,
          }
        }).then((res) => {
          location.reload();
        }).catch(error => {
          alert(error.response.data.message);
        });
      }
    });

    // ampm follow buttton (value = 6)
    ampm.addEventListener('click', (e) => {
      if (!token) {
        location.href = '/section/follow'
      } else {
        axios({
          method: 'post',
          url: 'follow',
          data: {
            userId: currentUserID,
            followValue: 6,
          }
        }).then((res) => {
          location.reload();
        }).catch(error => {
          alert(error.response.data.message);
        });
      }
    });

  </script>

  <%- contentFor('styleTag') %>
    <link rel="stylesheet" href="/stylesheets/user/pages/section.css" />

    <%- contentFor('navbar') %>
      <%- include('./components/nav.ejs') %>

        <%- contentFor('body') %>
          <div class="section-page white">
            <div class="section-div">
              <h3 class="section-div__title">My Section</h3>
            </div>

            <!--Section: following -->
            <% for(var i=1; i < section.length; i++){ %>

              <% if (i==follow.find((e)=> e == i)) { %>

                <div class="section ice-blue-two">
                  <div class="section__col1">
                    <div class="section__col1__title my">
                      <%=section[i].title%>
                    </div>
                    <% var icon="icon-" + section[i].icon + "-big-blue" %>
                      <div class=<%=icon%>></div>
                  </div>
                  <div class="section__col2">
                    <p class="section__col2__text text-login">

                      <% for(var j=0; j < section[i].text.length; j++){ %>
                        <%= section[i].text[j] %> <br>
                          <% } %>
                    </p>
                    <!-- TODO: 팔로우 해제 버튼 -->
                    <button id=<%=section[i].button %> class="section__col2__btn ">
                      <p class="section__col2__btn__text">
                        팔로잉
                      </p>
                    </button>
                  </div>
                </div>

                <% } %>
                  <% } %>

                    <div class="section-div white">
                      <h3 class="section-div__title">Other Section</h3>
                    </div>

                    <!--Section: follow -->
                    <% for(var i=1; i < section.length; i++){ %>

                      <% if (i==follow.find((e)=> e == i)) { %>
                        <% continue; %>
                          <% } %>

                            <div class="section ice-blue">
                              <div class="section__col1">
                                <div class="section__col1__title other">
                                  <%=section[i].title%>
                                </div>
                                <% var icon="icon-" + section[i].icon + "-big-purple" %>
                                  <div class=<%=icon%>></div>
                              </div>
                              <div class="section__col2">
                                <p class="section__col2__text">
                                  <% for(var j=0; j < section[i].text.length; j++){ %>
                                    <%= section[i].text[j] %> <br>
                                      <% } %>
                                </p>
                                <!-- TODO: 팔로우 버튼 -->
                                <button id=<%=section[i].button %> class="section__col2__btn">
                                  <p class="section__col2__btn__text">
                                    팔로우
                                  </p>
                              </div>
                            </div>

                            <% } %>

                              <%- contentFor('footer') %>
                                <%- include('./components/foo.ejs') %>
