<%- contentFor('styleTag') %>
	<link rel="stylesheet" href="/stylesheets/user/pages/section.css" />
	<%- contentFor('navbar') %>
		<%- include('./components/nav.ejs') %>

			<%- contentFor('body') %>
				<div class="section-page white">
					<div class="section-div">
						<h3 class="section-div__title">My Section</h3>
					</div>

					<!--login -->
					<div class="section ice-blue-two">
						<div class="section__col1">
							<div class="section__col1__title my">saver</div>
							<div class="logo-small-blue"></div>
						</div>
						<div class="section__col2">
							<p class="section__col2__text text-login">
								로그인 하고 My Secrion 설정하기<br>
							</p>
							<button onclick="location.href ='subscriber/login'" class="section__col2__btn ">
								<p class="section__col2__btn__text">
									로그인
								</p>
							</button>
						</div>
					</div>
					<div class="section-div white">
						<h3 class="section-div__title">Other Section</h3>
					</div>

					<!--section - politic -->
					<div class="section ice-blue">
						<div class="section__col1">
							<div class="section__col1__title other">정치</div>
							<div class="icon-politics-big-purple"></div>
						</div>
						<div class="section__col2">
							<p class="section__col2__text">
								애매모호한 설명은 없다.<br>
								맥락과 숨은 뜻까지 집어주는<br>
								색다른 브리핑 서비스
							</p>
							<button class="section__col2__btn">
								<p class="section__col2__btn__text">
									팔로우
								</p>
						</div>
					</div>

					<!--section - economy -->
					<div class="section ice-blue">
						<div class="section__col1">
							<div class="section__col1__title other">경제</div>
							<div class="icon-economy-big-purple"></div>
						</div>
						<div class="section__col2">
							<p class="section__col2__text">
								부동산, 증시, 경기전망<br>
								어려운 이야기를 쉽게 풀어주는<br>
								세이버 경제 섹션
							</p>
							<button class="section__col2__btn">
								<p class="section__col2__btn__text">
									팔로우
								</p>
						</div>
					</div>

					<!--section - international -->
					<div class="section ice-blue">
						<div class="section__col1">
							<div class="section__col1__title other">국제</div>
							<div class="icon-international-big-purple"></div>
						</div>
						<div class="section__col2">
							<p class="section__col2__text">
								놓칠 수 없는 국제뉴스 <br>
								세이버에서 확인하세요<br>
								정확한 뉴스를 전해드립니다.
							</p>
							<button class="section__col2__btn">
								<p class="section__col2__btn__text">
									팔로우
								</p>
						</div>
					</div>

					<!--section - social -->
					<div class="section ice-blue">
						<div class="section__col1">
							<div class="section__col1__title other">사회</div>
							<div class="icon-social-big-purple"></div>
						</div>
						<div class="section__col2">
							<p class="section__col2__text">
								놓칠 수 없는 국제뉴스<br>
								세이버에서 확인하세요<br>
								정확한 뉴스를 전해드립니다.
							</p>
							<button class="section__col2__btn">
								<p class="section__col2__btn__text">
									팔로우
								</p>
						</div>
					</div>

					<!--section - culture -->
					<div class="section ice-blue">
						<div class="section__col1">
							<div class="section__col1__title other">문화</div>
							<div class="icon-culture-big-purple"></div>
						</div>
						<div class="section__col2">
							<p class="section__col2__text">
								애매모호한 설명은 없다.<br>
								맥락과 숨은 뜻까지 집어주는<br>
								색다른 브리핑 서비스
							</p>
							<button class="section__col2__btn">
								<p class="section__col2__btn__text">
									팔로우
								</p>
						</div>
					</div>

					<!--section - 7 -->
					<div class="section ice-blue">
						<div class="section__col1">
							<div class="section__col1__title other">
								AM7 <br>
								PM7
							</div>
							<div class="icon-7-big-purple"></div>
						</div>
						<div class="section__col2">
							<p class="section__col2__text">
								아침 7시, 저녁7시 <br>
								오늘 당신이 알아야할 뉴스를 <br>
								일목요연하게 알려드립니다.
							</p>
							<button class="section__col2__btn">
								<p class="section__col2__btn__text">
									팔로우
								</p>
						</div>
					</div>
				</div>
				<%- contentFor('footer') %>
					<%- include('./components/foo.ejs') %>
