<%- contentFor('scriptTag') %>
	<script>
		let notYetLogineds = document.querySelectorAll("#notYetLogined");
		const redirect = encodeURIComponent('/section/logined');

		for (let notYetLogined of notYetLogineds) {

			notYetLogined.addEventListener('click', (e) => {
				console.log("clicked(politic)");
				if (!token) {
					location.href = `/subscriber/login?redirect=${redirect}`
				} else {
					axios({
						method: 'post',
						url: '/section/user',
						headers: {
							'x-access-token': token
						}
					}).then((res) => {
						location.href = '/section/logined'

					}).catch(error => {
						alert(error.response.data.message);
					});
				}
			});
		}
	</script>

<%- contentFor('styleTag') %>
	<link rel="stylesheet" href="/stylesheets/user/pages/section.css" />
	<%- contentFor('navbar') %>
		<%- include('./components/nav.ejs') %>

			<%- contentFor('body') %>
				<div class="section-page white">
					<div class="section-div">
						<h3 class="section-div__title">My Section</h3>
					</div>

					<!--login -->
					<div class="section ice-blue-two">
						<div class="section__col1">
							<div class="section__col1__title my">saver</div>
							<div style="height: 51px;">
								
							<div class="logo-small-blue"></div>
							</div>
						</div>
						<div class="section__col2">
							<p class="section__col2__text text-login">
								로그인 하고 My Section 설정하기<br>
							</p>
							<button onclick="location.href =`/subscriber/login?redirect=${redirect}`" class="section__col2__btn ">
								<p class="section__col2__btn__text">
									로그인
								</p>
							</button>
						</div>
					</div>
					<div class="section-div white">
						<h3 class="section-div__title">Other Section</h3>
					</div>
						<!--Section: following -->
						<% for(var i=1; i < categories.length; i++){ %>

						<!--set id: following section div -->
					
							<div  class="section ice-blue">
								<div class="section__col1">
									<div class="section__col1__title other">
									<%=categories[i].title%>
									</div>
									<div class="<%=`icon-${categories[i].type}-big-purple`%>"></div>
								</div>
								<div class="section__col2">
									<p class="section__col2__text">
			
									<% for(var j=0; j < categories[i].text.length; j++){ %>
										<%= categories[i].text[j] %> <br>
										<% } %>
									</p>
									<!-- TODO: 팔로우 해제 버튼 -->
									<button id="notYetLogined" class="section__col2__btn">
									<p class="section__col2__btn__text">
										팔로잉
									</p>
									</button>
								</div>
							</div>
						<% } %>

				</div>
				<%- contentFor('footer') %>
					<%- include('./components/foo.ejs') %>
