<%- contentFor('styleTag') %>
<link rel="stylesheet" href="/stylesheets/user/pages/bookmark_alarm.css" />

<%- contentFor('navbar') %> <%- include('./components/nav-back.ejs') %> <%- contentFor('body') %>

<div class="article-page">
  <div class="article">
    <div class="article__top">
      <p class="article__title ft-title">
      [청소년 보호정책]
      </p>
    </div>

    <div id="editor_briefing" class="article__brief-text ft-main">
      <p>㈜더세이버(이하 ‘회사’라 함)는 각종 청소년유해정보로부터 청소년을 보호하고자 관련법률에 따라 19세미만의 청소년들이 유해정보에 접근할 수 없도록 청소년보호정책을 마련하여 시행하고 있습니다. 또한 회사는 청소년의 건전한 성장을 저해하는 음란, 불법 등의 유해정보와 비윤리적, 반사회적 행위에 대해서는 엄격하게 제재하기 위하여 다음과 같이 활동하고 있습니다.</p>
      <p>&nbsp;</p>
      <p><strong>제 1 조 [청소년 보호를 위한 목표 및 기본 원칙]</strong></p>
      <p>청소년이 정신적-신체적으로 유해한 환경으로부터 보호받고 유익한 환경을 조성하도록 노력하며, 안전하게 인터넷을 이용할 수 있는 서비스를 제공하기 위해 청소년보호정책을 명시하고 있습니다.</p>
      <p>&nbsp;</p>
      <p><strong>제 2 조 [청소년 보호장치]</strong></p>
      <p>청소년 유해정보를 규제하고 있습니다. 청소년의 건전한 성장을 저해하는 비윤리적, 반사회적 행위에 대해서는 엄격히 제재하고자 노력하고 있습니다.</p>
      <p>&nbsp;</p>
      <p><strong>제 3 조 [유해정보로 인한 피해상담 및 고충처리]</strong></p>
      <p>회사는 청소년 유해정보로 인한 피해상담 및 고충처리를 위한 인력을 배치하여 그 피해가 확산되지 않도록 하고 있습니다.</p>
      <p>&nbsp;</p>
      <p><strong>제 4 조 [청소년보호책임자 지정]</strong></p>
      <p>청소년유해정보로부터 청소년을 보호하기 위하여 아래와 같이 청소년보호 책임자를 지정해 청소년보호업무를 수행하고 있습니다.</p>
      <p style="padding-left: 20px;"><strong>청소년 보호 책임자</strong></p>
      <p style="padding-left: 40px;">- 성명(직위):&nbsp;&nbsp;김정선 (대표이사)</p>
      <p style="padding-left: 40px;">- e-mail:&nbsp;&nbsp;<a href="mailto:service.thesaver@gmail.com">service.thesaver@gmail.com</a></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p><strong>청소년보호정책 시행일자 : 2021년 11월</strong></p>
    </div>
  </div>
  <br/><br/>
</div>


<%- contentFor('footer') %> <%- include('./components/foo.ejs') %>

<%- contentFor('scriptTag') %>
