<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section class="mobile-view">
      <article class="today-news">
          <h1>오늘의 뉴스</h1>
          <h2><%= todayNews.headline %> </h2> 
      </article>
      <article class="today-words">
        <h1>오늘의 한마디</h1>
        <h2><%= todayWords %></h2>
      </article>
      <article class="articles">
          <h1>일반 뉴스</h1>
          <% todayArticles.forEach((todayArticle)=> { %>
            <a href=<%= `/articles/${todayArticle.id}` %> >
              <div class="content-wrapper">
                <span><%= todayArticle.category %></span>
                <span><%= todayArticle.author %></span>
                <img width="320px" height="320px" src=<%= todayArticle.image %> >
                <p><%= todayArticle.imageDesc %></p>
                <p><%= todayArticle.imageFrom %></p>
                <p><%= todayArticle.briefing %></p>
              </div>
              </a>
          <% }) %>
        </article>
      </article>
    </section>
  </body>
</html>
