<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %> </title>
  <link href="/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/author/common.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/author/index.css" />
  <%- style %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JWR8KYL1MC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JWR8KYL1MC');
  </script>

</head>
<body>
  <%- defineContent('navbar') %>
  <%- defineContent('body') %>
  <%- defineContent('footer') %>

  <%- script %>
  <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>