<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= (typeof title != "undefined" ? title : "") %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/user/style.css" />
  <%- style %>
</head>

<body>
  <%- defineContent('navbar') %>
  <%- defineContent('body') %>


  <%- defineContent('footer') %>

  <script defer src="/vendors/jquery/jquery.min.js"></script>
  <%- script %>
</body>

</html>
