<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div class="side-nav">
    <button class="side-nav__logout">로그아웃</button>
    <a href="/author/edit-meeting">편집 회의</a>
    <a href="/author/articles/new">기사 작성</a>
    <a href="/author/articles">내 기사 목록</a>
  </div>
  <table class="my-articles">
    <thead>
      <tr class="my-articles__header">
        <th>No</th>
        <th>헤드라인</th>
        <th>작성 일시</th>
        <th>출고 상황</th>
        <th>사진</th>
        <th>상태</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% articles.forEach((article)=> { %>
        <tr>
          <td>
            <%= article.id %>
          </td>
          <td>
            <%= article.headline %>
          </td>
          <td>
            <%= article.updatedAt %>
          </td>
          <td>
            <%= article.isPublished %>
          </td>
          <td>
            <%= article.image %>
          </td>
          <td>
            <%= article.state %>
          </td>
          <td>
            <a href=<%=`/author/articles/edit/${article.id}` %> >수정하기</a>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</body>

</html>