<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/author/articles.css" />
    <link href="/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %>

    <section class="list-table">
      <table class="mytable">
        <thead class="table-header">
          <tr class="table-header__row">
            <th class="table-header__cell">No</th>
            <th class="table-header__cell">헤드라인</th>
            <th class="table-header__cell">작성일시</th>
            <th class="table-header__cell">출고 상황</th>
            <th class="table-header__cell">사진</th>
            <th class="table-header__cell">상태</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <% articles.forEach((article)=> { %>
          <tr class="table-body__row">
            <td class="table-body__cell"><%= article.id %></td>
            <td class="table-body__cell">
              <% if (article.status < 3) { %>
                <a href=<%= `/author/articles/edit/${article.id}` %> > <%= article.headline %> </a>
              <% } else { %>
                  <%= article.headline %> 
              <% } %>
            </td>
            <td class="table-body__cell"><%= article.updatedAt %></td>
            <td class="table-body__cell"><%= article.status === 4 ? 'O' : 'X' %></td>
            <td class="table-body__cell"><%= article.image ? 'O' : 'X' %></td>
            <td class="table-body__cell">
            <% if (article.status === 1) { %>
              임시저장
            <% } else if (article.status === 2) { %>
              완료
            <% } else if (article.status === 3) { %>
              출고
            <% } else { %>
              게재
            <% } %>  
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </section>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
