<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <section class="mobile-view">
    <article>
      <h1 class="mobile-view__headline">
        <%= article.headline %>
      </h1>
      <span class="mobile-view__author">
        <%= article.Author.name %>
      </span>
      <img class="mobile-view__image" src=<%=article.image %> />
      <p class="mobile-view__paragraph">
        <%= article.briefing %>
      </p>
      <button class="mobile-detail">더 자세히 보기...</button>
      <div class="mobile-detail">

      </div>
    </article>
  </section>
  <button>수정</button>
  <button>완료</button>
</body>

</html>