<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- <link rel="stylesheet" href="/stylesheets/login.css" /> -->
</head>

<body>
  <div class="side-nav">
    <button class="side-nav__logout">로그아웃</button>
    <a href="/author/edit-meeting">편집 회의</a>
    <a href="/author/articles/new">기사 작성</a>
    <a href="/author/articles">내 기사 목록</a>
  </div>
  <form method="post" class="edit-article" action=<%=article.id %> enctype="multipart/form-data">
    <div class="edit-article__input">
      <label for="category">카테고리</label>
      <select name="categories" id="category">
        <option value="politic" <%=article.category==="politic" ? 'selected' : '' %> >정치</option>
        <option value="economy" <%=article.category==="economy" ? 'selected' : '' %> >경제</option>
        <option value="technology" <%=article.category==="technology" ? 'selected' : '' %> >기술</option>
        <option value="environment" <%=article.category==="environment" ? 'selected' : '' %> >환경</option>
        <option value="science" <%=article.category==="science" ? 'selected' : '' %> >과학</option>
        <option value="health" <%=article.category==="health" ? 'selected' : '' %> >건강</option>
        <option value="sports" <%=article.category==="sports" ? 'selected' : '' %> >스포츠</option </select>
        <div class="edit-article__input--default">
          <label for="headline">헤드라인</label>
          <input type="text" id="headline" name="headline" value=<%=article.headline %> placeholder="뉴스의 헤드라인을 입력해주세요"
          maxlength="30" />
          <br />
          <div>
            <label for="current-picture">현재 사진</label>
            <img src=<%=article.image %> alt="current-picture">
            <label for="picture">사진</label>
            <input type="file" id="picture" name="picture" accept="image/gif, image/jpeg, image/png" />
            <br />
            <label for="description">사진 설명</label>
            <input type="text" id="description" name="description" value=<%=article.imageDesc %> placeholder="사진에 대한 설명을
            적어주세요" />
            <label for="source">사진 출처</label>
            <input type="text" id="source" name="source" value=<%=article.imageFrom %> placeholder="사진에 대한 출처를 적어주세요" />
          </div>
          <label for="breifing">100자 브리핑</label>
          <input type="text" id="briefing" name="briefing" value=<%=article.briefing %> placeholder="뉴스에 대한 브리핑을 작성해주세요"
          maxlength="30" />
        </div>
        <div class="article-add">
          <% paragraph.forEach((p)=> { %>
            <div>
              <label for="addtion-section"></label>
              <input id="addtion-section" name="additionalParagraph" value=<%=p %> placeholder="자세한 내용을 입력해주세요.">
            </div>
            <% }) %>
        </div>
        <button type="button" class="article-add--Btn">단락추가</button>
    </div>
    <button class="edit-article--save" name="saveBtn" type="submit">저장</button>
    <button class="edit-article--complete" name="completeBtn" type="submit">완료</button>
  </form>
  <script src="/javascripts/addSection.js"></script>
</body>

</html>


</html>