<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/authorIndex.css" />
  </head>
  <body>
    <div class="side-nav">
      <button class="side-nav__logout">로그아웃</button>
      <a href="/author/edit-meeting">편집 회의</a>
      <a href="/author/articles/new">기사 작성</a>
      <a href="/author/articles">내 기사 목록</a>
    </div>
    <table class="styled-table">
      <!-- 기자: NO 헤드라인 작성자 작성일자  입력일시 게재일자 출고승인 -->
      <!-- 데스크: pm7 am7 (승인 버튼이 활성화) -->
      <!-- 편집장: 오늘의뉴스, 오늘의한마디, 최상단고정, 최종승인 -->
      <thead>
        <tr>
          <th>NO</th>
          <th>헤드라인</th>
          <th>작성자</th>
          <th>작성일자</th>
          <th>입력일자</th>
          <th>게재일자</th>
          <th>출고</th>
          <th>승인</th>
          <% if (currentUser.desk) { %>
          <th>pm7</th>
          <th>am7</th>
          <% } %>
          <!-- NOTE: 데스크 -->
          <!-- NOTE: 편집장 -->
          <!-- <th>오늘의 뉴스</th>
          <th>오늘의 한마디</th>
          <th>최상단 고정</th>
          <th>최종 승인</th> -->
        </tr>
      </thead>
      <tbody>
        <!-- articles 반복문을 돌면서 아래를 출력할 것. -->
        <tr>
          <% articles.map((article)=> { %>
        </tr>

        <tr>
          <td><%= article.id %></td>
          <td><%= article.headline %></td>
          <td><%= article.Author.name %></td>
          <td><%= article.createdAt %></td>
          <td><%= article.updatedAt %></td>
          <!-- <th>게재일자</th> -->
          <!-- TODO: publisedAt 만들기  -->
          <td><%= Date.now() %></td>
          <td>
            <!-- <th>출고</th> -->
            <!-- <%= article.isPublished %> -->
            <label>
              <input type="checkbox" name="color" value="blue" <%= article.isPublished ? 'checked '
              : '' %> disabled>
            </label>
          </td>
          <td>
            <!-- <th>승인</th> -->
            <label>
              <input type="checkbox" name="color" value="blue" <%= article.Confirmed ? 'checked ' :
              '' %> <%= currentUser.desk ? '' : 'disabled' %> >
            </label>
            <!-- <%= article.state %> -->
          </td>
          <!-- <th>am7</th> -->
          <% if (currentUser.desk) { %>
          <td>
            <label>
              <input type="checkbox" name="color" value="blue" <%= article.Confirmed ? 'checked ' :
              '' %> >
            </label>
          </td>
          <td>
            <label>
              <input type="checkbox" name="color" value="blue" <%= article.Confirmed ? 'checked ' :
              '' %> >
            </label>
          </td>
          <% } %> <% }) %>
        </tr>
        <!-- <tr class="active-row">
          <td>Melissa</td>
          <td>5150</td>
        </tr> -->
      </tbody>
    </table>
  </body>
</html>
