<%- contentFor('body') %>
<div class="signup">
  <div class="container">
    <div class="row justify-content-center" >
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="form-block">
              <div class="mb-4">
                <h3>Sign Up to <strong>slab-saver</strong></h3>
                <p class="mb-4">회원가입 페이지입니다. 모든 칸을 채워주세요.</p>
              </div>
              <form method="post" action="/author/signup" enctype="multipart/form-data">
                <div class="mb-4">
                  <label for="email" class="form-label">이메일</label>
                  <input type="email" class="form-control" value="<%= user.email %>" disabled />
                  <input type="hidden" name="email" value=<%= user.email %> />
                </div>
                <div class="mb-4">
                  <label for="password" class="form-label">비밀번호</label>
                  <input
                    class="form-control"
                    type="password"
                    name="password"
                    placeholder="Password"
                  />
                </div>
                <div class="mb-4">
                  <label for="confirm" class="form-label">비밀번호 확인</label>
                  <input
                    class="form-control"
                    type="password"
                    name="confirm"
                    placeholder="Confirm password"
                  />
                </div>
                <div class="mb-4">
                  <label for="name" class="form-label">이름</label>
                  <input
                  type="text"
                  class="form-control"
                  value="<%= user.name %>"
                  disabled
                />
                <input type="hidden" name="name" value=<%= user.name %> />
                </div>
                <div class="mb-4">
                  <label for="code">코드</label>
                  <input
                  type="text"
                  class="form-control"
                  value="<%= user.code %> "
                  disabled
                  />
                  <input type="hidden" name="code" value=<%= user.code %> />
                </div>
                <div class="mb-4">
                  <label for="contact">연락처</label>
                  <input
                    class="form-control"
                    type="tel"
                    name="contact"
                    placeholder="01012347890"
                  />
                </div>
                <div class="mb-4">
                  <label for="picture">사진</label>
                  <input
                    type="file"
                    class="form-control"
                    id="picture"
                    name="picture"
                    accept="image/gif, image/jpeg, image/png"
                  />
                </div>
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary">회원가입</button>
                  <a class="btn btn-info" href="/author/login"  style="color:white">로그인</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>