<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form method="post" class="signup-form" action="/author/signup" enctype="multipart/form-data">
      <div class="signup-form__input">
        <div>
          <label for="email">아이디</label>
          <span><%= user.email %></span>
          <input type="hidden" name="email" value=<%= user.email %> />
        </div>
        <label for="password">비밀번호</label>
        <input
        class="signup-form__password"
        type="password"
          name="password"
          placeholder="Password"
        />
        <br />
        <label for="confirm">비밀번호 확인</label>
        <input
        class="signup-form__confirm"
          type="password"
          name="confirm"
          placeholder="Password confirm"
        />
        <br />

        <div>
            <label for="name">이름</label>
            <span><%= user.name %></span>
            <input type="hidden" name="name" value=<%= user.name %> />
        </div>
        <div>
            <label for="code">코드</label>
            <span><%= user.code %></span>
            <input type="hidden" name="code" value=<%= user.code %> />
        </div>

        <label for="contact">연락처</label>
        <input
          type="tel"
          name="contact"
          placeholder="010-1234-7890"
        />
        <br />
        <label for="picture">사진</label>
        <input
          type="file"
          id="picture"
          name="picture"
          accept="image/gif, image/jpeg, image/png"
        />
      </div>
      <button class="submit-button" type="submit">회원가입</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="/javascripts/authorSignup.js"></script>
  </body>
</html>
