<a href=<%= `/articles/${article.id}` %> >
  <div class="content-wrapper">
    <span><%= article.category %></span>
    <span><%= article.author %></span>
    <img width="320px" height="320px" src=<%= article.image %> >
    <p><%= article.imageDesc %></p>
    <p><%= article.imageFrom %></p>
    <p><%= article.briefing %></p>
  </div>
  </a>