<a href=<%= `/articles/${todayArticle.id}` %> >
  <div class="content-wrapper">
    <span><%= todayArticle.category %></span>
    <span><%= todayArticle.author %></span>
    <img width="320px" height="320px" src=<%= todayArticle.image %> >
    <p><%= todayArticle.imageDesc %></p>
    <p><%= todayArticle.imageFrom %></p>
    <p><%= todayArticle.briefing %></p>
  </div>
  </a>