<a class="article-link" href=<%=`/articles/${article.id}` %> >
  <article class="article-wrapper">
    <h1 class="article__title">
      <%= article.headline %>
    </h1>
    <div class="article__info">
      <div>
        <img class="article__info--authorImg" src=<%=article.authorImg %> />
        <div>
          <span>
            <%= article.author %>
          </span>
          <span>
            <%= article.category %>
          </span>
        </div>
        <span>
          <%= article.updatedAt %> 작성됨
        </span>
      </div>
    </div>
    <img class="article__image" src=<%=article.image %> >
    <div class="article__image--info">
      <p>Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy
        text
        of the Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</p>
      <p>Lorem Ipsum is simply dummy text of the</p>
    </div>
    <p class="article__briefing">Lorem Ipsum is simply dummy text of the printing and type, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Loremore recently with desktop publishing so of Lorem Ipsum.</p>
    <hr class="solid">
  </article>
</a>