<%- contentFor('navbar') %>
<%- include('../partials/navbar.ejs') %>

<%- contentFor('body') %>
<div>
  어드민 홈. 추후 추가할 것.
</div>

<%- contentFor('footer') %>
<%- include('../partials/footer.ejs') %>




