<%- contentFor('navbar') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<nav class="navbar navbar-expand-md navbar-dark bg-success mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SLAB-SAVER</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/author/_admin">홈</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/author/_admin/invitation">초대관리</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">기사 관리</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">기자 관리</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">유저 관리</a>
      </li>
    </ul>
    <a class="btn btn-primary" href="/author/logout">로그아웃</a>
  </div>
</nav>

<%- contentFor('body') %>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  초대하기
</button>
<div class="modal fade modal-dialog-centered" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-10" aria-labelledby="staticBackdropLabel" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">초대하기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  class="needs-validation">
          <div class="modal-email">
            <label for="email" class="col-sm-2 text-center">이메일</label>
            <input type="email" autocapitalize="off" class="invite-email" id="email" required>
          </div>
          <div class="modal-name">
            <label for="name" class="col-sm-2 text-center">이름</label>
            <input class="invite-name" id="name"  required>
          </div>
          <div class="modal-code">
            <label for="position" class="col-sm-2 text-center">직급</label>    
            <select name="position" id="position" required>
              <option value="1" selected>편집장</option>

              <option value="2">데스크</option>
              <option value="3">일반기자</option>
            </select>
          </div>
          <div class="modal-code">
            <label for="category" class="col-sm-2 text-center">분야</label>    
            <select name="category" id="category" required disabled>
              <option value="1" selected>전체</option>

              <option value="2">정책</option>
              <option value="3">경제</option>
              <option value="4">기술</option>
              <option value="5">환경</option>
              <option value="6">과학</option>
              <option value="7">건강</option>
              <option value="8">스포츠</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-3 text-center" id="invite">초대하기</button>
        </form>
      </div>
    </div>
  </div>
</div>

<section class="admin-table content">
  <div class="admin-table__category">
    <table class="table table-hover" name="table">
      <thead class="standby-user-header">
        <tr class="standby-user-header__row">
          <th scope="col">NO</th>
          <th scope="col">이메일</th>
          <th scope="col">이름</th>
          <th scope="col">진행 상황</th>
          <th scope="col">역할</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="standby-user-body">
        <% standByUsers.map((standByUser)=> { %>
        <form method="post" action="/author/_admin/decision">
          <tr scope="row">
            <td><%= standByUser.id %></td>
            <td><%= standByUser.email %></td>
            <td><%= standByUser.name %></td>
            <td>
              <% if (standByUser.intState > 2) { %>
                <div>
                  <progress class="declined" value=<%= standByUser.intState %> max="2"></progress>
                </div>
              <% } else { %>
                <div>
                  <progress value=<%= standByUser.intState %> max="2"></progress>
                </div>
              <% } %>
              <%= standByUser.state %>
            </td>
            <% if (standByUser.intState == 0) { %>
            <td>
              <select name="code" id="code">
                <option value="0" selected>역할을 설정해 주십시오</option>
                <option value="1">편집장</option>
                <option value="2">데스크2</option>
                <option value="3">데스크3</option>
                <option value="4">데스크4</option>
                <option value="5">데스크5</option>
                <option value="6">데스크6</option>
                <option value="7">데스크7</option>
                <option value="8">데스크8</option>
                <option value="201">일반기자2</option>
                <option value="301">일반기자3</option>
                <option value="401">일반기자4</option>
                <option value="501">일반기자5</option>
                <option value="601">일반기자6</option>
                <option value="701">일반기자7</option>
                <option value="801">일반기자8</option>
              </select>
            <td>
              <button class="btn btn-success" name="approved">승인</button>
            </td>
            <td>
              <button class="btn btn-danger" name="declined">거절</button>
            </td>
            </td>
            <% } %>
            <input type="hidden" value=<%= standByUser.email %> name="email">
            <input type="hidden" value=<%= standByUser.name %> name="name">
          </tr>
        </form>
        <% }) %>
      </tbody>
    </table>
  </div>
</section>

<script>

  document.querySelector('#position').addEventListener('change', (e) => {
    const { target: {value}} = e;
    // const value = e.target.value;
    const category =  document.querySelector('#category');
    if (e.target.value === '1') {
      //document.querySelector('#category option:first-child').disabled = false;
      category.value = '1';
      category.disabled = true;
    } else {
      document.querySelector('#category option:first-child').disabled = true;
      category.value = '2';
      category.disabled = false;
    }
  })

  document.getElementById("invite").onclick = function onLoggin() { 
    let email = document.getElementById("email");
    let name = document.getElementById('name')
    let position = document.getElementById("position");
    let category = document.getElementById("category");
    position = position.selectedIndex;
    category = category.selectedIndex;
    console.log("직급 "+position);
    console.log("분야 "+category);
      axios({
        method: "POST",
        url: '/author/_admin/invitation',
        data: {
          "email": email.value,
          "name": name.value,
          "position": position.selectedIndex,
          "category": category.selectedIndex
        }
      }).then((res) => {
        alert('메일을 전송했습니다');
        console.log(res);
        // location.href="/author/login";
      }).catch(error => {
        alert(error.response.data.message);
      }); 
  }
</script>
<script defer src="/vendors/axios/axios.min.js"></script>
<script src="/javascripts/adminNavbar.js"></script>

<%- contentFor('footer') %>
<%- include('../partials/footer.ejs') %>
