<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>

<body>
  <header class="side-nav">
    <a href="/author/logout">
      <button class="side-nav__logout">로그아웃</button>
    </a>
    <a href="/author/_admin">홈</a>
    <a href="/author/_admin/invitation">초대 관리</a>
    <button class="detail--button invite-button">초대하기</button>
  </header>
  <section class="admin-table">
    <!-- NOTE: category select -->
    <br />
    <div class="detail-sections invite-section" style="display: none;">
      <div class="invite-section__content">
        <span class="closeBtn">&times;</span>
        <form method="post" action="/author/_admin/invitation">
          <div class="modal-email">
            <label for="email">이메일</label>
            <input class="invite-email" name="email">
          </div>
          <div class="modal-name">
            <label for="name">이름</label>
            <input class="invite-name" name="name">
          </div>
          <div class="modal-code">
            <label for="code">코드</label>
            <input class="invite-code" name="code">
          </div>
          <button name="invite">초대하기</button>
        </form>
      </div>
    </div>
    <div class="admin-table__category">
      <table class="standby-user" name="standby-user">
        <thead class="standby-user-header">
          <tr class="standby-user-header__row">
            <th class="standby-user-header__cell">NO</th>
            <th class="standby-user-header__cell">이메일</th>
            <th class="standby-user-header__cell">이름</th>
            <th class="standby-user-header__cell">진행 상황</th>
            <th class="standby-user-header__cell">역할</th>
            <th class="standby-user-header__cell"></th>
            <th class="standby-user-header__cell"></th>
          </tr>
        </thead>
        <tbody class="standby-user-body">
          <% standByUsers.map((standByUser)=> { %>
          <form method="post" action="/author/_admin/decision">
            <tr>
              <td><%= standByUser.id %></td>
              <td><%= standByUser.email %></td>
              <td><%= standByUser.name %></td>
              <td>
                <div>
                  <progress value=<%= standByUser.intState %> max="2"></progress>
                </div>
                <%= standByUser.state %>
              </td>
              <% if (standByUser.intState == 0) { %>
              <td>
                <select name="code" id="code">
                  <option value="0" selected>역할을 설정해 주십시오</option>
                  <option value="1">편집장</option>
                  <option value="2">데스크2</option>
                  <option value="3">데스크3</option>
                  <option value="4">데스크4</option>
                  <option value="5">데스크5</option>
                  <option value="6">데스크6</option>
                  <option value="7">데스크7</option>
                  <option value="8">데스크8</option>
                  <option value="201">일반기자2</option>
                  <option value="301">일반기자3</option>
                  <option value="401">일반기자4</option>
                  <option value="501">일반기자5</option>
                  <option value="601">일반기자6</option>
                  <option value="701">일반기자7</option>
                  <option value="801">일반기자8</option>
                </select>
              <td>
                <button class="standby-user-body__approve" name="approved">승인</button>
              </td>
              <td>
                <button class="standby-user-body__decline" name="declined">거절</button>
              </td>
              </td>
              <% } %>
              <input type="hidden" value=<%= standByUser.email %> name="email">
              <input type="hidden" value=<%= standByUser.name %> name="name">
            </tr>
          </form>
          <% }) %>
        </tbody>
      </table>
    </div>
  </section>
  <script src="/javascripts/detail.js"></script>
</body>

</html>