


<%- contentFor('navbar') %>
<%- include('./components/nav.ejs') %>

<%- contentFor('body') %>
<main class="main">
  <!--오늘의뉴스-->
  <div class="today-card ice-blue-two">
    <a href=<%=`/articles/${todayArticle.id}` %> >
        <div class="today-card__title">
          <i class="today-card__title__icon logo-type-small-blue"></i>
          <h3 class="today-card__title__text">오늘의 뉴스</h3>
        </div>
        <p class="today-card__text ft-main">
          <%= todayArticle.headline %>오늘 정리해야할 뉴스 오늘 정리해야할 뉴스
        </p>
    </a>
    <div class="divide-white"></div>
    <!--오늘의 한마디-->
    <div class="today-card__title">
      <i class="today-card__title__icon logo-small-blue"></i>
      <h3 class="today-card__title__text">오늘의 한마디</h3>
    </div>
    <p class="today-card__text ft-main">
      <%= todayWords %>오늘의 한마디 오늘의 한마디 오늘의 한마디 오늘의 한마디 오늘의 한마디
    </p>
  </div>

  <% Articles.map((article)=> { %>
    <% if (article.status===4) { %>
      <%- include('../partials/articleCard.ejs', { article }) %>
        <% } %>
          <% }) %>
  </main>
<%- contentFor('footer') %>
<%- include('./components/foo.ejs') %>
<%- contentFor('script') %>
  <script src="/javascripts/infiniteScroll.js"></script>
