<!DOCTYPE html>
<html>

<head>
  <title>
    <!-- <%= article.headline %> -->
    신규 확진 610명…일상 속 감염비율 높아
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <article class="article-wrapper">
    <h1 class="article__title">
      <!-- <%= article.headline %> -->
      신규 확진 610명…일상 속 감염비율 높아
    </h1>
    <div class="article__info">
      <div>
        <img class="article__info--authorImg" src=<%=article.authorImg %> />
        <div>
          <span>
            <%= article.author %>
          </span>
          <span>
            <%= article.category %>
          </span>
        </div>
        <span>
          <%= article.updatedAt %> 작성됨
        </span>
      </div>
    </div>
    <img class="article__image" src=<%=article.image %> >
    <div class="article__image--info">
      <!-- <p>
        <%= article.imageDesc %>
      </p>
      <p>
        <%= article.imageFrom %>
      </p> -->
      <p>Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy
        text
        of the Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</p>
      <p>Lorem Ipsum is simply dummy text of the</p>
    </div>
    <!-- <p>
      <%= article.briefing %>
    </p> -->
    <p class="article__briefing">Lorem Ipsum is simply dummy text of the printing and type, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Loremore recently with desktop publishing so of Lorem Ipsum.</p>
  </article>
  <section class="detail">
    <article class="detail__article">
      <button class="detail__article--button">자세히 보기</button>
      <article class="detail-sections" style="display: none;">
        <% article.additionalParagraph.forEach((p)=> { %>
          <!-- <%=p %> -->
          <p class="article__briefing">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the
            Lorem Ipsum is simply dummy
            text
            of the Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of theLorem Ipsum is simply
            dummy text of theLorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy
            text
            of the Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of theLorem Ipsum is simply
            dummy text of theLorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy
            text
            of the Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</p>
          </p>
          <% }) %>
      </article>
    </article>
  </section>
  <script src="/javascripts/detail.js"></script>
</body>

</html>