<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <section class="content">
      <article>
        <h1> <%= article.headline %></h1>
        <span><%= article.category %></span>
        <span><%= article.author %></span>
        <img width="320px" height="320px" src=<%= `/images/articleImages/${article.image}` %> />
        <p><%= article.imageDesc %></p>
        <p><%= article.imageFrom %></p>
        <p><%= article.briefing %></p>
        <button class="article-detail">λ” μμ„Έν</button>
        <article class="detail-sections" style="display: none;">
          <% article.additionalParagraph.forEach((p)=> { %>
            <p> <%=p %> </p>
          <% }) %>
        </article>
      </article>
    </section>
    <script src="/javascripts/detail.js"></script>
  </body>
</html>
